/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap");

/* VARIABLES */

:root {
  /* Colors */

  --first-color: hsl(192, 51%, 41%);
  --text-color: hsl(0, 0%, 57%);
  --title-color: hsl(0, 0%, 44%);
  --body-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 86%);
  --container-color: hsl(0, 0%, 94%);
  --text-white: #fff;

  /* Font */
  --body-font: "Montserrat", sans-serif;
  --second-font: "Poppins", sans-serif;

  --big-size: 56px;
  --h1-size: 50px;
  --h2-size: 32px;
  --h3-size: 24px;
  --large-size: 18px;
  --normal-size: 16px;
  --small-size: 15px;
  --smaller-size: 14px;
  --tiny-size: 12px;
}

/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

/* CSS */

.grid {
  display: grid;
  gap: 30px;
}

.section {
  padding-block: 70px;
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.section-title {
  text-align: center;
  font-weight: 900;
  font-size: var(--big-size);
  margin-bottom: 60px;
}

.section-title span {
  color: var(--first-color);
}

.button {
  position: relative;
  display: inline-block;
  font-family: var(--second-font);
  font-size: var(--small-size);
  font-weight: 500;
  border: 2px solid var(--first-color);
  color: var(--title-color);
  padding: 16px 75px 16px 25px;
  border-radius: 35px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  margin-left: 50px;
}

.button:hover {
  color: var(--text-white);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  transform: translateX(100%);
  transition: all 0.5s ease-out;
  z-index: -1;
}

.button:hover::before {
  transform: translateX(0);
}

.button-icon {
  position: absolute;
  inset-block: -2px;
  font-size: var(--large-size);
  right: 0;
  width: 55px;
  border-radius: 50%;
  background-color: var(--first-color);
  color: var(--body-color);
  text-align: center;
  line-height: 60px;
}
